<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="BookStore"
			 connectionString="Data Source=(localdb)\MSSQLLocalDB;
                           Initial Catalog=Contact;
                           Integrated Security=True;
                           Encrypt=False"/>
	</connectionStrings>
</configuration>
